<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Estadísticas para {{ mountPoint }}</h3>
        </div>
        <div class="panel-body">
          <mat-tab-group (selectedTabChange)="onTabClick($event)">
            <mat-tab label="Tiempo real">
              <div class="chart-line-container">
                <canvas baseChart [datasets]="realTimeData" [labels]="realTimeLabels" [options]="realTimeOptions" [colors]="realTimeColors"
                  [legend]="realTimeLegend" [chartType]="realTimeChartType"></canvas>
              </div>
            </mat-tab>
            <mat-tab label="Ultima hora">
              <div class="chart-line-container">
                <canvas baseChart [datasets]="lastHourData" [labels]="lastHourLabels" [options]="lastHourOptions" [colors]="lastHourColors"
                  [legend]="lastHourLegend" [chartType]="lastHourChartType"></canvas>
              </div>
            </mat-tab>

            <mat-tab label="Por día">
              <div class="chart-line-container">
                <div class="row">
                  <div class="col-xs-12">
                    <div class="container-padding">
                      <mat-form-field>
                        <input matInput 
                        [matDatepicker]="picker1" 
                        placeholder="Seleccione una fecha" 
                        [formControl]="date" 
                        (dateChanged)="getDayListeners()" 
                        (dateInput)="getDayListeners()">
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="col-xs-12">
                    <canvas baseChart [datasets]="dateListenersData" [labels]="dateListenersLabels" [options]="dateListenersOptions" [colors]="dateListenersColors"
                      [legend]="dateListenersChartLegend" [chartType]="dateListenersChartType"></canvas>
                  </div>
                </div>
              </div>
            </mat-tab>

            <mat-tab label="Promedio semana">
              <div class="chart-bars-container">
                <canvas baseChart [datasets]="weekListenersData" [labels]="weekListenersLabels" [options]="weekListenersOptions" [colors]="weekListenersColors"
                  [legend]="weekListenersLegend" [chartType]="weekListenersChartType"></canvas>
              </div>
            </mat-tab>

            <mat-tab label="Ultimo mes">
              <div class="chart-bars-container">
                <canvas baseChart [datasets]="monthListenersData" [labels]="monthListenersLabels" [options]="monthListenersOptions" [colors]="monthListenersColors"
                  [legend]="monthListenersLegend" [chartType]="monthListenersChartType"></canvas>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
  </div>
</div>